<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link th:href="@{/css/readblog.css}" rel="stylesheet" />
<title>Blog</title>
</head>
<body>
<div class="blogbody" th:object="${blogDao}">
	<p>
      Tags:
      <td th:text="${blogTags}">
            </p>
	<h2 align="center"><td th:text="*{title}"></h2>
	
	<td th:text="*{blogPost}"></td>

    <div th:if ="${#request.userPrincipal}">
       <div th:if ="${#authentication.getPrincipal().getUsername()} eq *{username}">
	<form method="POST" th:action="@{/editblog}">
    <td><button type="submit" name="blogId" th:value="*{id}">edit</button></td>
    </form> </div></div>
    
</div>
<br>
<div class="comments"  th:each="comment:${comments}">
	<div class="comment">
	<span><td th:text="${comment.username}"></td></span><br>
	<td th:text="${comment.userComment}"></td>
        <div th:if ="${#request.userPrincipal}">
            <div th:if ="${#authentication.getPrincipal().getUsername()} eq ${blogDao.username}">
	<form method="POST" th:action="@{/editcomment}">
    <td align="center"><button type="submit" name="id" th:value="${comment.id}" >edit</button></td>
</form> 
<form method="POST" th:action="@{/deletecomment}">
    <td><button type="submit" name="id" th:value="${comment.id}" class="link-button">delete</button></td>
</form> </div></div>
	
</div>
</div>

<div class="commentsection">

<form  th:action="@{/postComment}" method="post" >
<label for="username">Username</label>:
 <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
 <label for="email">Email  </label>
      <input type="text" id="email" name="mail" autofocus="autofocus" /> <br />
      <br>
      <span>comment</span>
<textarea rows="6" cols="50" name="comment"></textarea>
<button type="submit"  name="blogId" th:value="${blogDao.id}">comment</button>
</form>
</div>

</body>
</html>