
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up</title>
    <link th:href="@{/css/userRegistration.css}" rel="stylesheet" />
</head>
<body>
<h2 align="center">Sign Up</h2>
<div class="container text-center">
    <div class="sidenav">
        <div class="login-main-text">
    <form th:action="@{/saveregister}" th:object="${UserDetails}" method="post">
        <div class="container">
                <label >E-mail: </label>
                    <input type="email"  th:field="*{mail}"   class="form-control" required />
                    <p th:if="${#fields.hasErrors('mail')}" th:errorclass="error" th:errors="*{mail}" />

                <label>Password: </label>
                    <input type="password" th:field="*{password}" class="form-control"
                           required minlength="6" maxlength="10"/>
                <label>User name: </label>
                    <input type="text" name="username" th:field="*{username}" class="form-control"
                           required minlength="2" maxlength="20"/>
                    <p th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}" />

                </div>
        <div class="container" style="background-color:#f1f1f1">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
    </form>
</div>
    </div>
</body>
</html>