
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<link th:href="@{/blogwrite.css}" rel="stylesheet" />
<title>Write Blog</title>
</head>
<body>
<div align="center">
    <h1>Your Blog</h1>
    <form action="#" th:action="@{/saveBlog}" method="post">
        <input type="hidden" name="username" th:value="${#authentication.getPrincipal().getUsername()}">

        <label>Title</label>
        <input type="text" name="title" /><br/>
        <br>
 		<label>Add Tag</label>
 		 <input type="text" name="tags" /><br/>
        <label>write blog here</label>
        <br>
         <textarea rows="100" cols="100"  name="blogPost"></textarea><br>
         <button type="submit" >Submit</button>
    </form>
    </div>
       
</body>
</html>